@font-face {
    font-family: 'Liberation Serif';
    src: url(Fuentes\LiberationSerif-Regular.ttf);
}
h1+.consignas{
    font-size: 20px;
    font-family: 'Liberation Serif';
}
p{
   font-family: 'Times New Roman', Times, serif;
   font-size: 12px; 
}
body{
    padding-top: 130px;    
}